{% extends "base.html" %}

{% block content %}

<h2 class="header">Edit location details here:</h2>

<form action="/list/{{city.id}}" method="post">
<div class=content>
    <div>
        <label for="city_name">city name</label>
        <input type="text" id="city_name" name="city_name" value="{{city.city_name}}" required>
    </div>

    <div>
        <label for="country_name">country name</label>
        <select id="country_name" name="country_id">     
            <option value="{{ country.id }}">{{country.country_name}}</option>
            {% for country in countries %}
            <option value="{{ country.id }}">{{country.country_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="visited">Have you visited this city before</label>
        <input type="checkbox" id="visited" name="visited">
    </div>

    <div>
        <button type="submit" class="button">Update Location</button>
    </div>

</div>
</form>


{% endblock %}



