{% extends "base.html" %}

{% block content %}

<h2>Your location wish list:</h2>
{% for country in countries %}
<div class="list">
    <div class="content">
        <h3>{{country.country_name}}</h3>
        <p class="cities-in-country">
        {% for city in cities %}
        {% if city.country.id == country.id %}
        {{city.city_name}}:</p>
        {% if city.visited == True %}
            <span> visited: &#9989; </span>
            {% else %}
            <span> visited: &#10060; </span>
            {% endif %}
        
        <form class="delete-city" action="/list/{{city.id}}/delete" method="POST">
            <button class="button">delete city entry</button>
        </form>
        <form class="edit-city" action="/list/{{city.id}}/edit" >
            <button class="button">edit city entry</button>
        </form>
    </p>
        {% endif %}
        {% endfor %} 
    </div>
</div>
{% endfor %}

{% endblock %}
