{% extends "base.html" %}

{% block content %}

{% for country in countries %}
<div class="list">
    <div class="content">
        <h3>{{country.country_name}}</h3>
        {% for city in cities %}
        {% if city.country.id == country.id %}
        <p>{{city.city_name}}</p>
        <form class="delete-city" action="/list/{{city.id}}/delete" method="POST">
            <button>delete city entry</button>
        </form>
        {% endif %}
        {% endfor %} 
    </div>
</div>
{% endfor %}

{% endblock %}
