{% extends "base.html" %}

{% block content %}

<h2>Locations not visited....YET:</h2>
{% for country in countries %}
<div class="list">
    <div class="content">
        <h3>{{country.country_name}}</h3>
        {% for city in cities %}
        {% if city.country.id == country.id %}
        
            {% if city.visited == False %}
            
                {{city.city_name}}:

            {% endif %}
        {% endif %}
        {% endfor %}
            
    </div>
</div>
{% endfor %}

{% endblock %}