body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color: black;
    background-image: url(images/stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
}
.container{
    width: 70%;
    margin:auto;
    background-color: white;
    opacity:0.6;
}
.blue_text{
    color:#3693a5;
    font-size: 35px;
}

.change_page_button{
    color:#3693a5;
    font-size: 35px;
}

#main_message{
    font-size: 30px;
    text-align: center;
    margin-top: 8%;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px black;
}

.menu{
    display: flex;
    padding: 10px;
    background-color: #707070;
    color: #ffffff;
    
}
  
.menu li a{
    text-decoration: none;
    padding:8px;
    color: #ffffff;
}
  
.menu li a:visited{
    color: #ffffff;
}
.menu li a:hover{
    background-color: #404040;
}
  
.menu li{
    padding-right: 10px;
    list-style: none;
    color: #ffffff;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}

.header{
    text-align: center;
}

.new_form{
    display:flex;
    flex-direction: column;
    
}
.new_form div{
    padding:10px;
    width:80%;
    margin:auto;
}
.form_container{
    display:flex;
    justify-content: space-evenly;
}
.form_container label{
    padding:4px;
}

#country_name{
    width:60%;
    margin-left:10px;
    padding:4px;
}

.button{
    display: flex;
    justify-content: center; 
}

.content{
    display:flex;
    flex-direction: column;
}

.cities-in-country{
    display:flex;
    flex-direction: row;
    
}





