*{
    margin:0;

}


body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color: black;
    background-image: url(images/stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
}
.container{
    width: 70%;
    margin:auto;
    /* background-color: white;
    opacity:0.6; */
    padding:0;
}
.blue_text{
    color:#3693a5;
    font-size: 35px;
}

.change_page_button{
    color:#3693a5;
    font-size: 35px;
}

#main_message{
    font-size: 30px;
    text-align: center;
    margin-top: 8%;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px black;
}

.menu{
    display: flex;
    padding: 25px;
    background-color: #000000;
    color: #ffffff;
    
}
  
.menu li a{
    text-decoration: none;
    padding:20px;
    color: #ffffff;
}
  
.menu li a:visited{
    color: #ffffff;
}
.menu li a:hover{
    background-color: #404040;
}
  
.menu li{
    padding-right: 10px;
    list-style: none;
    color: #ffffff;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}

.header{
    text-align: center;
}

.new_form{
    display:flex;
    flex-direction: column;
    
}
.new_form div{
    padding:10px;
    width:80%;
    margin:auto;
}

.form_container label{
    padding:4px;
}

#country_name{
    width:60%;
    margin-left:10px;
    padding:4px;
}

.button{
    display: flex;
    justify-content: center; 
}

.content{
    display:flex;
    flex-direction: column;
    margin:auto;
    justify-content: start;
    padding: 2% 30% 2% 30%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    
}

form.delete-city{ 
   
}
.cities-in-country{
    display: flex;
    flex-direction: column;
     
}
.content.cities-in-country{
    margin-left: 100px;
}
.content{
    color: #ffffff;
}

span{
   margin-left: 200px;
}

.delete-city{
    margin-left: 200px;
}
.button {
    padding: 6px 4px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    color:#000000;
    opacity: 1;
    margin: 1px;
}

.edit-city{
    margin-left: 200px;
}

.container h2 {
    color:white;
    padding:20px;
    text-align: center;
}

.content div{
    padding:10px;
}
