<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lobster&display=swap" rel="stylesheet">
    <title>Travel Bucket List</title>
</head>
<body>
    <header >
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/list">Bucket List</a></li>
                <li><a href="/list/new">Add Location</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    
      {%block home%}
      {% endblock %}
</body>
</html>