{% extends "base.html" %}

{% block content %}

<h2 class="header">Add a new country here</h2>

<form action="/country/new" method="post" class="new_form">
<div class="content"> 
    <div class="form_container">
        <label for="country_name">Add new country </label>
        <input type="text" id="country_name" name="country_name" placeholder="Add name of country here ..." required>
    </div>
    <div>
        <button type="submit">Add a new country</button>
    </div>
</div>       
</form>



{% endblock %}



